<%= erb :'layouts/_header' %>

  <img src="http://<%= @pigeon.color.delete("[],\"").split.first %>pigeon.jpg.to/" width="300">

  <!-- show attributes for a single pigeon here -->

<ul>  
   <li>  Name:  <%= @pigeon.name %></li>
    <li>  Color:  <%= @pigeon.color %></li>
     <li> Gender:   <%= @pigeon.gender %></li>
      <li> Lives:  <%= @pigeon.lives %></li>
</ul>
<!-- <input type="delete" value="Delete">
<input type="patch" value="Patch"> -->
<%= erb :'layouts/_footer' %>
